@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}


html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;

	background-color: #f2f2f2;
}

.page {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 1200px;
	margin: 0 auto;

	font: 22px / 26px "PT Sans", "Arial", sans-serif;
	color: #000000;

	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section-container {
	padding: 0 70px;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.reset-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* Buttons */

.button {
	display: inline-block;
	box-sizing: border-box;
	height: 36px;
	padding: 8px 34px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;

	border: 0;
	border-radius: 4px;

	cursor: pointer;
}

.button-brown {
	background-color: #756157;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #615048;
}

.button-brown:active {
	background-color: #756157;
}

.button-blue {
	background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #68a2ca;
}

.button-blue:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #82b3d3;
}

.button-green {
	background-color: #7db54f;
}

.button-green:hover,
.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
}

.button-transparent {
	background-color: transparent;
}

.button-transparent:hover {
	opacity: 0.6;
}

.button-transparent:focus-visible {
	outline: 3px solid #83b3d3;
	outline-offset: -3px;
}

@supports not selector(:focus-visible) {
	.button-transparent:focus {
		outline: 3px solid #83b3d3;
		outline-offset: -3px;
	}
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
	color: #ffffff;
	background-color: #e5e5e5;

	cursor: default;
}

.button-transparent:disabled,
.button-transparent:disabled:hover,
.button-transparent:disabled:active {
	opacity: 0.1;
	background-color: transparent;
}

.button-big {
	height: 52px;
	padding: 8px 50px;

	font-size: 20px;
	line-height: 36px;
}

.button-small {
	padding: 8px 18px;
}


/* Header */

.page-header {
	z-index: 1;

	display: flex;
}

.logo-link {
	z-index: 2;

	align-self: flex-start;
	width: 140px;
	margin-right: 28px;
	margin-bottom: -7px;
}

.logo {
	vertical-align: middle;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
}

.site-navigation-link {
	position: relative;

	display: block;
	padding: 20px 16px;

	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
}

.site-navigation-link[aria-current="page"]::after {
	position: absolute;
	right: 16px;
	bottom: -1px;
	left: 16px;

	border-bottom: 2px solid #756257;

	content: "";
}

.user-menu {
	display: flex;
	align-self: flex-start;
	max-width: 315px;
}

.user-menu-link {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	height: 64px;
}

.user-menu-link::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: currentcolor;

	content: "";
}

.link-search::before {
	mask-image: url("../icons/stack.svg#user-menu-search");
}

.link-heart::before {
	mask-image: url("../icons/stack.svg#user-menu-heart");
}

.heart-counter {
	position: absolute;
	top: 11px;
	right: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;

	font-size: 10px;
	line-height: 10px;
	color: #ffffff;

	background-color: #7db54f;
	border-radius: 50%;
}

.page-header-link {
	color: #000000;
}

.page-header-link:hover,
.page-header-link:focus {
	color: #756157;
}

.page-header-link:active {
	color: rgba(117, 97, 87, 0.3);
}

.button-item {
	align-self: center;
	margin-left: 20px;
}


/* Footer */

.page-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	min-height: 120px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.socials-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 144px;
}

.socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 40px;

	text-decoration: none;
}

.socials-link::before {
	width: 33px;
	height: 32px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: #83b3d3;

	content: "";
}

.socials-link-vkontakte::before {
	mask-image: url("../icons/stack.svg#socials-vkontakte");
}

.socials-link-telegram::before {
	mask-image: url("../icons/stack.svg#socials-telegram");
}

.socials-link-youtube::before {
	mask-image: url("../icons/stack.svg#socials-youtube");
}

.socials-link:hover::before,
.socials-link:focus::before {
	background-color: #68a2ca;
}

.socials-link:active::before {
	background-color: rgba(104, 162, 202, 0.3);
}

.contacts {
	max-width: 720px;

	font-style: normal;
}

.phone {
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
}

.logo-htmlacademy {
	width: 115px;
	height: 33px;

	text-decoration: none;
}

.logo-htmlacademy::before {
	display: block;
	width: 115px;
	height: 33px;

	mask: url("../icons/stack.svg#logo-htmlacademy") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}


/* Main */

.main-container {
	flex-grow: 1;
}

/* Inputs */

.text-field {
	box-sizing: border-box;
	padding: 0;

	font-family: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #f2f2f2;
	border: 0;
	border-radius: 4px;
}

.text-field:hover {
	background-color: #e6e6e6;
}

.text-field:focus {
	background-color: #e6e6e6;
	outline: 3px solid #83b3d3;
}

.text-field:active {
	background-color: #f2f2f2;
	border: 2px solid #000000;
}

/* Headings and Texts */

.section-title {
	margin: 0;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.section-description {
	margin: 0;

	color: #333333;
}

.block-title {
	margin: 0;

	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.block-description {
	margin: 0;

	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.text-white {
	color: #ffffff;
}

.text-center {
	text-align: center;
}


/* Main Index */

/* Hero */

.hero-image-container {
	position: relative;

	box-sizing: border-box;
	min-height: 485px;
	padding-top: 51px;

	background-color: rgba(131, 179, 211, 0.7);
	background-image: url("../images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.hero-image-container::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	height: 57px;

	background-image: url("../images/hero-divider.svg");
	background-repeat: no-repeat;
	background-size: 100%;

	content: "";
}

.hero-text-container {
	padding-top: 69px;
	padding-bottom: 90px;
}

.hero-title {
	margin-bottom: 25px;
}

/* Advantages */

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-item-line:nth-child(even) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-line:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-line.text-white {
	display: flex;

	background-color: #82b3d3;
}

.advantages-item-icon:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-image-left {
	order: -1;
}

.advantages-text {
	box-sizing: border-box;
	width: 400px;
	padding: 103px 84px 121px;
}

.advantages-text-white {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 92px;
	padding-bottom: 111px;
}

.advantages-text-icon {
	padding-top: 70px;
	padding-bottom: 81px;
}

.advantages-title-line,
.advantages-title-icon {
	margin-bottom: 30px;
}

.advantages-title-line::after {
	display: block;
	width: 60px;
	height: 2px;
	margin: 30px auto 0;

	background-color: rgba(0, 0, 0, 0.3);

	content: "";
}

.advantages-title-line.text-white::after {
	background-color: rgba(255, 255, 255, 0.3);
}

.advantages-title-icon::before {
	display: block;
	width: 84px;
	height: 84px;
	margin: 0 auto 28px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	content: "";
}

.advantages-icon-housing::before {
	background-image: url("../icons/stack.svg#advantages-housing");
}

.advantages-icon-eating::before {
	background-image: url("../icons/stack.svg#advantages-eating");
}

.advantages-icon-souvenir::before {
	background-image: url("../icons/stack.svg#advantages-souvenir");
}

/* Hotels Search */

.hotels-search {
	padding: 96px 0;
}

.hotels-search-container {
	width: 592px;
	margin: 0 auto;
}

.hotels-search-button {
	margin-top: 54px;
}

/* Subscribe */

.subscribe {
	box-sizing: border-box;
	min-height: 415px;
	padding-top: 96px;
	padding-bottom: 104px;

	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/subscribe-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.subscribe-container {
	width: 684px;
	margin: 0 auto;
}

.subscribe-form {
	display: flex;
	margin-top: 54px;
}

.subscribe-form-field {
	flex-grow: 1;
	height: 52px;
	padding: 0 20px;

	border-radius: 4px 0 0 4px;
}

.subscribe-form-field:focus {
	border-radius: 4px;
}

.subscribe-form-field::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.subscribe-form-button {
	border-radius: 0 4px 4px 0;
}

.subscribe-form-button:focus-visible {
	border-radius: 4px;
}

@supports not selector(:focus-visible) {
	.subscribe-form-button:focus {
		border-radius: 4px;
	}
}


/* Main Inner */

/* Filter Container */

.filter-container {
	box-sizing: border-box;
	min-height: 412px;
	padding-top: 35px;
	padding-bottom: 70px;

	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/filter-container-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Content Header */

.content-header {
	margin-bottom: 40px;
}

.content-title {
	margin: 0;
	margin-bottom: 8px;

	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.breadcrubs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrubs-item {
	display: flex;
	margin-right: 10px;
}

.breadcrubs-item:last-child {
	margin-right: 0;
}

.breadcrubs-item::before {
	align-self: center;
	width: 8px;
	height: 20px;
	margin-right: 10px;

	mask: url("../icons/stack.svg#breadcrumbs-separator") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}

.breadcrubs-item:first-child::before {
	content: none;
}

.breadcrubs-link {
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	color: #ffffff;
}

.home-link {
	display: flex;
	align-items: center;
}

.home-link::before {
	width: 13px;
	height: 15px;

	mask: url("../icons/stack.svg#breadcrubs-home") no-repeat center / contain;
	background-color: currentcolor;

	content: "";
}

.breadcrubs-link:hover {
	color: rgba(255, 255, 255, 0.6);
}

.breadcrubs-link:focus {
	color: #ffffff;
}

.breadcrubs-link:active {
	color: rgba(255, 255, 255, 0.3);
}

/* Content Filter */

.filter {
	display: grid;
	grid-template-columns: 150px 150px 1fr 191px;
	column-gap: 70px;
}

.filter-parameter {
	margin: 0;
	padding: 0;

	border: 0;
}

.filter-parameter-price {
	justify-self: end;
	width: 288px;
}

.filter-parameter-name {
	margin-bottom: 32px;
	padding: 0;

	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
}

.filter-values {
	font-size: 18px;
	line-height: 23px;
}

.filter-value {
	margin-bottom: 16px;
}

.filter-value:last-child {
	margin-bottom: 0;
}

.filter-input {
	margin: 0;
}

.range-slider-input::placeholder {
	text-align: right;
	color: rgba(0, 0, 0, 0.3);
}

.filter-buttons {
	display: grid;
	row-gap: 32px;
	align-self: end;
}

/* Hotels */

.hotels {
	padding-top: 50px;
	padding-bottom: 60px;
}

.hotels-view-container {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}

.hotels-title {
	align-self: center;
	max-width: 412px;
	margin-right: auto;
	margin-bottom: 0;
}

.hotels-sort {
	box-sizing: border-box;
	width: 292px;
	height: 49px;
	margin: 0 70px;

	font-family: inherit;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.hotels-view-list {
	display: flex;
	max-width: 216px;
}

.hotels-view-item {
	margin-right: 8px;
}

.hotels-view-item:last-child {
	margin-right: 0;
}

.hotels-view-button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 48px;
	height: 48px;

	text-decoration: none;
	color: #000000;

	border: 2px solid #e5e5e5;
	border-radius: 4px;
}

.hotels-view-button[aria-current="page"] {
	border-color: #000000;
}

.hotels-view-button:hover {
	border-color: #000000;
}

.hotels-view-button:focus-visible {
	border-color: #68a2ca;
	outline: none;
}

@supports not selector(:focus-visible) {
	.hotels-view-button:focus {
		border-color: #68a2ca;
		outline: none;
	}
}

.hotels-view-button:active {
	border-color: #000000;
}

.hotels-view-button::before {
	width: 20px;
	height: 20px;

	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	background-color: currentcolor;

	content: "";
}

.hotels-view-tile::before {
	mask-image: url("../icons/stack.svg#hotels-view-tile");
}

.hotels-view-slideshow::before {
	mask-image: url("../icons/stack.svg#hotels-view-slideshow");
}

.hotels-view-list::before {
	mask-image: url("../icons/stack.svg#hotels-view-list");
}

.hotels-pagination {
	display: flex;
}

.hotels-pagination-item {
	margin-right: 8px;
}

.hotels-pagination-item:last-child {
	margin-right: 0;
}

.item-three-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
}

.hotels-pagination-link {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 60px;
	height: 60px;

	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-decoration: none;
	color: #ffffff;

	border-radius: 4px;
}

.hotels-pagination-link:hover,
.hotels-pagination-link:focus {
	border: 1px solid #82b3d3;
}

.hotels-pagination-link[aria-current="page"],
.hotels-pagination-link[aria-current="page"]:hover,
.hotels-pagination-link[aria-current="page"]:focus,
.hotels-pagination-link[aria-current="page"]:active {
	color: #000000;

	background-color: #f2f2f2;
	border: 0;
}

/* Hotels Ð¡ards */

.hotels-cards {
	display: grid;
	grid-template-columns: repeat(3, 340px);
	gap: 20px;
	margin-bottom: 40px;
}

.hotels-cards::after {
	grid-column: 1 / -1;
	margin-top: 20px;

	border-bottom: 1px solid #e6e6e6;

	content: "";
}

.hotel-card {
	display: grid;
	grid-template-columns: repeat(2, 140px);
	grid-template-rows: 212px 1fr;
	gap: 16px 20px;
	box-sizing: border-box;
	width: 340px;
	padding: 20px;

	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

.hotel-more {
	grid-column: 1 / -1;

	text-decoration: none;
	color: #000000;
}

.hotel-image-more {
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hotel-title {
	text-transform: none;
}

.hotel-price {
	justify-self: end;

	font-weight: 400;
}

.hotel-stars {
	display: flex;
	align-items: center;
}

.hotel-stars::before {
	height: 17px;

	background-image: url("../icons/stack.svg#hotel-card-star");
	background-repeat: repeat-x;
	background-size: 24px 17px;

	content: "";
}

.hotel-stars-five::before {
	width: 120px;
}

.hotel-stars-four::before {
	width: 96px;
}

.hotel-stars-three::before {
	width: 72px;
}

.hotel-stars-two::before {
	width: 48px;
}

.hotel-stars-one::before {
	width: 24px;
}

.hotel-raiting {
	box-sizing: border-box;
	height: 37px;
	padding-top: 9px;

	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;

	background-color: #f2f2f2;
	border-radius: 4px;
}

/* Subscribe */

.subscribe-theme-light {
	background: #ffffff;
}
