@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body {
	margin: 0;

	background-color: #f2f2f2;
}

.page {
	width: 1200px;
	margin: 0 auto;

	font: 22px / 26px "PT Sans", "Arial", sans-serif;
	color: #000000;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}


/* Buttons */

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #756157;
}

.button-blue {
	background-color: #82b3d3;
}

.button-green {
	background-color: #7db54f;
}

.button-transparent {
	background-color: transparent;
}

.button-big {
	font-size: 20px;
	line-height: 36px;
}

.button-link {
	text-decoration: none;
}

.button-not-link {
	font-family: inherit;

	border: 0;
}


/* Header */

.site-navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
}

.user-menu-link {
	text-decoration: none;
}

.heart-counter {
	font-size: 10px;
	line-height: 10px;
	color: #ffffff;

	background-color: #7db54f;
}


/* Main */

/* Inputs */

.text-field {
	font-family: inherit;
	font-size: 18px;
	line-height: 24px;

	background-color: #f2f2f2;
	border: 0;
}

/* Headings and Texts */

.section-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.block-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.block-description {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.text-grey {
	color: #333333;
}

.text-white {
	color: #ffffff;
}

.text-center {
	text-align: center;
}


/* Main Index */

/* Hero */

.hero-image-container {
	min-height: 485px;

	background-color: rgba(131, 179, 211, 0.7);
	background-image: url("../images/hero-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Advantages */

.advantages-item-line:nth-child(even) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-line:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-line.text-white {
	background-color: #82b3d3;
}

.advantages-item-icon:nth-child(odd) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-text {
	width: 230px;
}

/* Subscribe */

.subscribe {
	min-height: 415px;

	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/subscribe-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.subscribe-form-field::placeholder {
	color: rgba(0, 0, 0, 0.6);
}


/* Main Inner */

/* Filter Container */

.filter-container {
	background-color: rgba(131, 179, 211, 0.8);
	background-image: url("../images/filter-container-background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

/* Content Header */

.content-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
}

.breadcrubs-link {
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	color: #ffffff;
}

/* Content Filter */

.filter-parameter {
	border: 0;
}

.filter-parameter-name {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
}

.filter-value-label {
	font-size: 18px;
	line-height: 23px;
}

.range-slider-input::placeholder {
	text-align: right;
	color: rgba(0, 0, 0, 0.3);
}

/* Hotels */

.hotels-sort {
	font-family: inherit;
	font-size: 18px;
	line-height: 21px;
}

.hotels-pagination-link {
	text-decoration: none;
}

.hotels-pagination-link[aria-current="page"] {
	color: #000000;

	background-color: #f2f2f2;
}

/* Hotels Сards */

.hotel-title {
	text-transform: none;
}

.hotel-more {
	text-decoration: none;
	color: #000000;
}

.hotel-price {
	font-weight: 400;
}

.hotel-raiting {
	font-weight: 400;

	background-color: #f2f2f2;
}

/* Subscribe */

.subscribe-theme-light {
	background: #ffffff;
}


/* Footer */

.socials-link {
	text-decoration: none;
}

.contacts {
	font-style: normal;
}

.phone {
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	color: #000000;
}

.logo-htmlacademy {
	text-decoration: none;
}
